.css-6e45vs-MuiTypography-root {
    color: #6366f1 !important;
    margin: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    margin-bottom: 16px;
    padding-left: 4px;
    padding-right: 4px;
}

.MuiInputBase-root {
    color: #666666 !important;
}

.MuiInputBase-root .MuiSvgIcon-root {
    color: #6366f1 !important;
}

.MuiOutlinedInput-root {
    & fieldset {
        border-color: #6366f1 !important;
    }
    &:hover fieldset {
        border-color: #6366f1 !important;
    }
    &.Mui-focused fieldset {
        border-color: #6366f1 !important;
    }
}

.MuiInputBase-input::placeholder {
    color: #999999 !important;
    opacity: 0.7;
}

/* Nové štýly pre chat */
.MuiListItemText-root {
    display: flex !important;
    flex-direction: column !important;
}

.MuiListItemText-primary {
    font-weight: 600 !important;
    color: #6366f1 !important;
    margin-bottom: 2px !important;
}

.MuiListItemText-secondary {
    display: flex !important;
    flex-direction: column !important;
    gap: 2px !important;
}

.company-name {
    color: #666666 !important;
    font-size: 0.85rem !important;
    font-weight: 500 !important;
}

.activity-info {
    color: #999999 !important;
    font-size: 0.75rem !important;
} 